* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    box-sizing: border-box;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

*:focus {
    outline: 0;
}


img {
    max-width: 100%;
    height: auto;
}

ol, ul {
    list-style: none;
}

:focus {
    outline: 0;
}

.clear {
    clear: both;
    line-height: 0;
    font-size: 0;
}

.clearfix:after {
    clear: both;
    content: '.';
    display: block;
    visibility: hidden;
    height: 0;
}

.clearfix:after .test {
    color: red;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

img {
    margin: 0;
}

a, a:visited {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: 0;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
    outline: 0;
}

p a, p a:visited {
    line-height: inherit;
    outline: 0;
}

ul, ol {
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0;
}

ul {
    margin: 0;
    list-style-type: none;
}

ol {
    list-style: decimal;
}

ol, ul.square, ul.circle, ul.disc {
    margin-left: 0px;
}

ul.square {
    list-style: square outside;
}

ul.circle {
    list-style: circle outside;
}

ul.disc {
    list-style: disc outside;
}

ul ul, ul ol, ol ol, ol ul {
    margin: 0;
}

ul ul li, ul ol li, ol ol li, ol ul li {
    margin-bottom: 0px;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

h3 {
    font-size: 18px;
}

button {
    cursor: pointer;
    outline: none !important;
    letter-spacing: 0;
}

.page-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding-left: 280px;
    -webkit-transition: padding-left 0.3s ease 0s;
    transition: padding-left 0.3s ease 0s;
}

.sidebar_collapsed.page-container {
    padding-left: 0;
}

.main-content-inner, .content-wrapper {
    padding: 40px 0;
}

@media (max-width: 992px) {
    .main-content-inner, .content-wrapper {
        padding: 40px 15px;
    }
}

@media (max-width: 767px) {
    .page-content {
        padding-top: 0 !important;
    }
}

.page-content .main-content-inner {
    padding: 40px;
}

@media (max-width: 992px) {
    .page-content .main-content-inner {
        padding: 40px 15px;
    }
}

.main-content {
    width: 100%;
    background: #fafafa;
}

@media (max-width: 991.98px) {
    .main-content {
        padding-top: 60px;
    }
}

.footer-area {
    text-align: center;
    padding: 23px 0 19px;
    background: #fff;
}

.footer-area p {
    color: #676666;
    margin-bottom: 0;
}

@media (min-width: 992px) {
    .d_block_lg {
        display: block !important;
    }

    .d_none_lg {
        display: none !important;
    }
}

@media (max-width: 991px) {
    .d_none_sm {
        display: none !important;
    }

    .d_block_sm {
        display: block !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
    .col-ml-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-ml-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-ml-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-ml-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (max-width: 1364px) {
    .page-container,
    .sidebar_collapsed.page-container {
        padding-left: 0;
    }
}

.section_heading {
    font-size: 40px;
    margin-bottom: 60px;
    position: relative;
    display: inline-block;
}

@media only screen and (max-width: 480px) {
    .section_heading {
        font-size: 25px !important;
    }
}

.section_heading .heading_bg {
    top: 30px;
    color: #666;
    font-size: 70px;
    width: 100%;
    display: block;
    position: relative;
    opacity: 0.1;
}

@media only screen and (max-width: 767px) {
    .section_heading .heading_bg {
        font-size: 50px;
    }
}

@media only screen and (max-width: 480px) {
    .section_heading .heading_bg {
        font-size: 25px;
    }
}

.card {
    border: none;
    overflow: hidden;
    border-radius: 10px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}

.card:hover {
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.02);
}

.card .card-body {
    padding: 25px;
}

.card .card_title {
    margin-bottom: 24px;
    color: #212529;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}

.card .card-footer {
    border-top: 1px solid #e6e6f2;
    background: #f9f9f9;
}

.h-full {
    height: 100%;
}

.arrow-none:after {
    display: none !important;
}

.stretched_card {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    justify-content: stretch;
}

.stretched_card > .card {
    width: 100%;
    min-width: 100%;
}

.dropdown-menu {
    font-size: inherit;
}

.card_dropdown .dropdown-menu {
    font-size: 14px;
    text-align: right;
    text-transform: initial;
}

.h-2p {
    height: 3px !important;
}

.form-control, .form-control:focus {
    box-shadow: none;
    font-size: inherit;
}

@media screen and (max-width: 767px) {
    .mb-xs-mob-4 {
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 991px) {
    .d-block-mob {
        display: block !important;
    }

    .mt-mob-0 {
        margin-top: 0 !important;
    }

    .mt-mob-1 {
        margin-top: 0.25rem !important;
    }

    .mt-mob-2 {
        margin-top: 0.5rem !important;
    }

    .mt-mob-3 {
        margin-top: 1rem !important;
    }

    .mt-mob-4 {
        margin-top: 1.5rem !important;
    }

    .mt-mob-5 {
        margin-top: 3rem !important;
    }

    .mr-mob-0 {
        margin-right: 0 !important;
    }

    .mr-mob-1 {
        margin-right: 0.25rem !important;
    }

    .mr-mob-2 {
        margin-right: 0.5rem !important;
    }

    .mr-mob-3 {
        margin-right: 1rem !important;
    }

    .mr-mob-4 {
        margin-right: 1.5rem !important;
    }

    .mr-mob-5 {
        margin-right: 3rem !important;
    }

    .mb-mob-0 {
        margin-bottom: 0 !important;
    }

    .mb-mob-1 {
        margin-bottom: 0.25rem !important;
    }

    .mb-mob-2 {
        margin-bottom: 0.5rem !important;
    }

    .mb-mob-3 {
        margin-bottom: 1rem !important;
    }

    .mb-mob-4 {
        margin-bottom: 1.5rem !important;
    }

    .mb-mob-5 {
        margin-bottom: 3rem !important;
    }

    .ml-mob-0 {
        margin-left: 0 !important;
    }

    .ml-mob-1 {
        margin-left: 0.25rem !important;
    }

    .ml-mob-2 {
        margin-left: 0.5rem !important;
    }

    .ml-mob-3 {
        margin-left: 1rem !important;
    }

    .ml-mob-4 {
        margin-left: 1.5rem !important;
    }

    .ml-mob-5 {
        margin-left: 3rem !important;
    }

    .pt-mob-0 {
        padding-top: 0 !important;
    }

    .pt-mob-1 {
        padding-top: 0.25rem !important;
    }

    .pt-mob-2 {
        padding-top: 0.5rem !important;
    }

    .pt-mob-3 {
        padding-top: 1rem !important;
    }

    .pt-mob-4 {
        padding-top: 1.5rem !important;
    }

    .pt-mob-5 {
        padding-top: 3rem !important;
    }

    .pr-mob-0 {
        padding-right: 0 !important;
    }

    .pr-mob-1 {
        padding-right: 0.25rem !important;
    }

    .pr-mob-2 {
        padding-right: 0.5rem !important;
    }

    .pr-mob-3 {
        padding-right: 1rem !important;
    }

    .pr-mob-4 {
        padding-right: 1.5rem !important;
    }

    .pr-mob-5 {
        padding-right: 3rem !important;
    }

    .pb-mob-0 {
        padding-bottom: 0 !important;
    }

    .pb-mob-1 {
        padding-bottom: 0.25rem !important;
    }

    .pb-mob-2 {
        padding-bottom: 0.5rem !important;
    }

    .pb-mob-3 {
        padding-bottom: 1rem !important;
    }

    .pb-mob-4 {
        padding-bottom: 1.5rem !important;
    }

    .pb-mob-5 {
        padding-bottom: 3rem !important;
    }

    .pl-mob-0 {
        padding-left: 0 !important;
    }

    .pl-mob-1 {
        padding-left: 0.25rem !important;
    }

    .pl-mob-2 {
        padding-left: 0.5rem !important;
    }

    .pl-mob-3 {
        padding-left: 1rem !important;
    }

    .pl-mob-4 {
        padding-left: 1.5rem !important;
    }

    .pl-mob-5 {
        padding-left: 3rem !important;
    }
}

@media screen and (max-width: 767px) {
    .pull-left-mob {
        float: left !important;
    }
}

.social-sales-icon-circle {
    height: 40px;
    width: 40px;
    line-height: 1;
    text-align: center;
    border-radius: 100%;
    padding: 12px 13px;
    display: inline-block;
}

.social-sales-count {
    float: right;
    line-height: 2.9;
}

.facebook-bgcolor {
    background-color: #3b5898;
    color: #fff;
}

.twitter-bgcolor {
    background-color: #1ea2f2;
    color: #fff;
}

.instagram-bgcolor {
    background-color: #9361fa;
    color: #fff;
}

.pinterest-bgcolor {
    background-color: #c8232c;
    color: #fff;
}

.googleplus-bgcolor {
    background-color: #d34836;
    color: #fff;
}

.rt_nav_header.horizontal-layout .flex-grow-1,
.rt_nav_header.horizontal-layout .flex-grow {
    flex-grow: 1 !important;
}

.rt_nav_header.horizontal-layout .dropdownAnimation, .rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main .navbar-nav .nav-item.dropdown .navbar-dropdown, .rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item .submenu {
    animation-name: dropdownAnimation;
    -webkit-animation-duration: 0.25s;
    -moz-animation-duration: 0.25s;
    -ms-animation-duration: 0.25s;
    -o-animation-duration: 0.25s;
    animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes dropdownAnimation {
    from {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0px, 0);
    }
}

.rt_nav_header.horizontal-layout .top_nav {
    background: #4604C7;
    height: 70px;
}

.rt_nav_header.horizontal-layout .top_nav .rt_nav_wrapper {
    padding: 0 1rem 0 0;
}

@media (max-width: 767px) {
    .rt_nav_header.horizontal-layout .top_nav .rt_nav_wrapper {
        padding: 0 1rem;
    }
}

.rt_nav_header.horizontal-layout .top_nav .rt_nav_wrapper .nav_logo {
    margin-right: 0;
    padding: 0.25rem 0;
}

.rt_nav_header.horizontal-layout .top_nav .rt_nav_wrapper .nav_logo:active, .rt_nav_header.horizontal-layout .top_nav .rt_nav_wrapper .nav_logo:focus, .rt_nav_header.horizontal-layout .top_nav .rt_nav_wrapper .nav_logo:hover {
    color: #5e5e5e;
}

.rt_nav_header.horizontal-layout .top_nav .rt_nav_wrapper .nav_logo img {
    max-width: 100%;
    height: 30px;
    margin: auto;
    vertical-align: middle;
}

.rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main {
    color: #FFFFFF;
    padding: 0 0 0 1rem;
}

.rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main .navbar-nav {
    flex-direction: row !important;
    align-items: center !important;
}

.rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main .navbar-nav .nav-item {
    margin-left: 1rem;
    margin-right: 1rem;
    line-height: 1;
}

.rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main .navbar-nav .nav-item .nav-link {
    color: #FFFFFF;
    font-size: 14px;
    vertical-align: middle;
}

.rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main .navbar-nav .nav-item .nav-link i {
    font-size: 1rem;
    vertical-align: middle;
    line-height: 1.2;
}

.rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main .navbar-nav .nav-item.dropdown .navbar-dropdown {
    font-size: 0.9rem;
    margin-top: 0;
    position: absolute !important;
    top: calc(60px - 6px) !important;
    right: 0 !important;
    left: auto !important;
    border: 0;
    padding: 0 0 20px;
    min-width: 100%;
    border-radius: 10px;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    overflow: hidden;
}

@media (max-width: 992px) {
    .rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main .navbar-nav .nav-item.dropdown .navbar-dropdown {
        top: calc(75px - 6px) !important;
    }
}

.rtl .rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main .navbar-nav .nav-item.dropdown .navbar-dropdown {
    right: auto;
    left: 0;
}

.rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main .navbar-nav .nav-item.dropdown .navbar-dropdown.dropdown-left {
    left: 0;
    right: auto;
}

.rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main .navbar-nav .nav-item.dropdown .navbar-dropdown .badge {
    margin-left: 2.5rem;
}

.rtl .rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main .navbar-nav .nav-item.dropdown .navbar-dropdown .badge {
    margin-left: 0;
    margin-right: 1.25rem;
}

.rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main .navbar-nav .nav-item.dropdown .navbar-dropdown a.dropdown-item:hover {
    cursor: pointer;
}

.rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding: 10px 25px;
}

.rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item:active {
    background: transparent;
}

.rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item i {
    font-size: 17px;
}

.rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .rt-notification-subject {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
}

.rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .rt-notification-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .small-text {
    font-size: 12px;
}

.rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-divider {
    margin: 0;
}

@media (max-width: 768px) {
    .rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main .navbar-nav .nav-item.dropdown {
        position: static;
    }

    .rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main .navbar-nav .nav-item.dropdown .navbar-dropdown {
        left: 10px;
        right: 10px;
        width: calc(100% - 20px);
        min-width: auto;
    }
}

.rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main .navbar-nav.navbar-nav-right .nav-item.nav-profile .nav-link {
    padding: 0;
}

.rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main .navbar-nav.navbar-nav-right .nav-item.nav-profile .nav-link:after {
    display: none;
}

.rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main .navbar-nav.navbar-nav-right .nav-item.nav-profile img {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin-left: 10px;
}

.rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main .navbar-nav.navbar-nav-right .nav-item.nav-profile .profile_name {
    vertical-align: middle;
    color: #FFFFFF;
    margin-left: .25rem;
}

@media (max-width: 767px) {
    .rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main .navbar-nav.navbar-nav-right .nav-item.nav-profile .profile_name {
        display: none;
    }
}

.rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main .navbar-nav.navbar-nav-right .nav-item.nav-language .dropdown-toggle {
    border: 1px solid #7b7b7b;
    color: #c7c7c7;
    padding: .35rem .81rem;
}

.rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main .navbar-nav.navbar-nav-right .nav-item:last-child {
    margin-right: 0;
}

.rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main .navbar-toggler {
    display: none;
}

@media (max-width: 991px) {
    .rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main .navbar-toggler {
        display: block;
        padding-right: 0;
    }
}

@media (max-width: 576px) {
    .rt_nav_header.horizontal-layout .top_nav .nav_wrapper_main {
        width: calc(100% - 70px);
    }
}

.rt_nav_header.horizontal-layout .nav-bottom {
    background: #FFFFFF;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    transition-duration: 3s;
    -webkit-transition-property: position, left, right, top, z-index;
    -moz-transition-property: position, left, right, top, z-index;
    -ms-transition-property: position, left, right, top, z-index;
    -o-transition-property: position, left, right, top, z-index;
    transition-property: position, left, right, top, z-index;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}

@media (max-width: 991px) {
    .rt_nav_header.horizontal-layout .nav-bottom {
        display: none;
    }

    .rt_nav_header.horizontal-layout .nav-bottom.header-toggled {
        display: block;
        max-height: calc(100vh - 60px);
        overflow: auto;
    }
}

.rt_nav_header.horizontal-layout .nav-bottom .page-navigation {
    position: relative;
    width: 100%;
    z-index: 99;
    justify-content: space-between;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: background, box-shadow;
    transition-property: background, box-shadow;
}

@media (max-width: 768px) {
    .rt_nav_header.horizontal-layout .nav-bottom .page-navigation {
        border: none;
    }
}

.rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item {
    line-height: 1;
    text-align: left;
}

@media (max-width: 991px) {
    .rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item {
        display: block;
        width: 100%;
        border-right: none;
    }
}

@media (min-width: 992px) {
    .rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item:first-child > .nav-link {
        padding-left: 0;
    }
}

.rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item:last-child {
    border-right: none;
}

@media (max-width: 992px) {
    .rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item:last-child > .nav-link {
        padding-right: 0;
    }
}

.rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item > .nav-link {
    color: #242425;
    padding: 22px 10px;
    line-height: 1;
    font-weight: 600;
}

.rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item > .nav-link .menu-title {
    font-size: .875rem;
    font-weight: 500;
}

.rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item > .nav-link .menu-arrow {
    margin-left: 5px;
    font-size: 15px;
    display: inline-block;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    moz-transform-origin: center;
    -o-transform-origin: center;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -ms-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

@media (min-width: 768px) {
    .rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item:hover .submenu {
        display: block;
    }

    .rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item:hover .submenu .menu_icon {
        font-size: 0.75rem;
    }

    .rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item:hover > .nav-link {
        background: transparent;
    }

    .rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item:hover > .nav-link i,
    .rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item:hover > .nav-link .menu-title {
        color: #4908FA;
        transition: color 1s ease;
    }

    .rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item:hover > .nav-link .menu-arrow {
        transform: rotate(-180deg);
    }
}

@media (max-width: 768px) {
    .rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item.show-submenu .submenu {
        display: block;
    }

    .rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item.show-submenu > .nav-link {
        background: transparent;
    }

    .rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item.show-submenu > .nav-link i,
    .rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item.show-submenu > .nav-link .menu-title {
        color: #4908FA;
        transition: color 1s ease;
    }

    .rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item.show-submenu > .nav-link .menu-arrow {
        transform: rotate(-180deg);
    }
}

.rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item.active > .nav-link {
    position: relative;
}

.rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item.active > .nav-link .menu-title,
.rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item.active > .nav-link i,
.rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item.active > .nav-link .menu-arrow {
    color: #4908FA;
}

.rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item .submenu {
    display: none;
}

.rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item .submenu ul {
    list-style-type: none;
    padding-left: 0;
}

.rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item .submenu ul li {
    display: block;
    line-height: 20px;
}

.rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item .submenu ul li a {
    display: block;
    padding: 5px 10px;
    font-weight: 400;
    color: #242425;
    text-decoration: none;
    text-align: left;
    margin: 4px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    transition-duration: 0.2s;
    transition-property: background;
    border-radius: 6px;
}

.rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item .submenu ul li a:hover {
    color: #4908FA;
    transition: color .1s linear;
}

.rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item .submenu ul li a:hover i {
    color: #4908FA;
    transition: color .1s linear;
}

.rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item .submenu ul li a:hover:before {
    background: #4908FA;
}

.rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item .submenu ul li.active a {
    color: #4908FA;
}

.rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item .submenu ul li.active a:before {
    background: #4908FA;
}

.rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item:not(.mega-menu) {
    position: relative;
}

.rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item:not(.mega-menu) .submenu {
    left: 0;
}

@media (min-width: 768px) {
    .rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item:not(.mega-menu) .submenu {
        position: absolute;
        top: 61px;
        z-index: 999;
        background: #FFFFFF;
        border-top: none;
        border-radius: 4px;
        box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
        -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    }

    .rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item:not(.mega-menu) .submenu li a {
        position: relative;
        padding-left: 2px;
    }
}

@media (max-width: 768px) {
    .rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item:not(.mega-menu) .submenu {
        position: relative;
        top: 0;
        box-shadow: none;
    }
}

@media (max-width: 768px) {
    .rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item:not(.mega-menu) .submenu {
        top: 0;
    }
}

.rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item:not(.mega-menu) .submenu ul {
    width: auto;
    padding: 25px;
}

@media (max-width: 768px) {
    .rt_nav_header.horizontal-layout .nav-bottom .page-navigation > .nav-item:not(.mega-menu) .submenu ul {
        padding: 0 23px;
    }
}

.rt_nav_header.horizontal-layout.fixed-on-scroll .nav-bottom {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    border-bottom: 1px solid #f2f2f2;
}

@media (max-width: 991px) {
    .rt_nav_header.horizontal-layout {
        position: fixed;
        z-index: 1030;
        top: 0;
        left: 0;
        right: 0;
    }

    .rt_nav_header.horizontal-layout .top_nav {
        border-bottom: 1px solid #f2f2f2;
    }
}

.header-area {
    padding: 0 0 0 30px;
    background: #fff;
    position: relative;
    -webkit-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 991px) {
    .header-area .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.header-area .mobile-logo {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    width: 25px;
    z-index: 1;
}

.rt_subheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}

.rt_subheader .rt_subheader_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
}

.rt_subheader .rt_subheader_main .rt_subheader_title {
    margin: 0;
    padding: 0 1.5rem 0 0;
    font-size: 16px;
    font-weight: 700;
    color: #434349;
}

.rt_subheader .rt_subheader_main .kt-subheader__separator {
    display: block;
    width: 12px;
    height: 4px;
    border-radius: 2px;
    background: rgba(149, 156, 182, 0.5);
    margin: 0 1.5rem 0 0;
}

.login-bg, .register-bg {
    height: 100vh;
    background: url(/images/login-bg.jpg) no-repeat;
    background-size: cover;
    width: 470px;
    float: left;
    position: relative;
}

.register-bg {
    background: url(/images/register-bg.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

@media only screen and (max-width: 767px) {
    .login_txt {
        display: none;
    }
}

.login-overlay {
    height: 100%;
    display: block;
    position: absolute;
    width: 100%;
    background: rgba(29, 29, 38, 0.7);
    top: 0;
    left: 0;
    z-index: 1;
}

.login-left {
    position: absolute;
    top: 50%;
    text-align: center;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.login-left p {
    font-size: 15px;
    color: #fff;
    width: 82%;
    margin: 50px auto;
}

.login-left a {
    display: inline-block;
    border-radius: 30px;
    padding: 10px 30px;
}

.login-form {
    width: calc(100% - 470px);
    float: left;
    position: relative;
}

.login-form form {
    position: absolute;
    top: 50%;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 18px 37.7px 15.3px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 18px 37.7px 15.3px rgba(0, 0, 0, 0.07);
    box-shadow: 0 18px 37.7px 15.3px rgba(0, 0, 0, 0.07);
}

.login-form form h2 {
    color: #444;
    font-weight: 500;
}

.login-form form .input-group {
    padding-bottom: 12px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.4);
}

.login-area {
    background: #f9f9f9;
}

.login-form-body {
    padding: 25px;
}

.form-gp {
    margin-bottom: 20px;
    position: relative;
}

.form-gp input {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid #e6e6e6;
    font-size: 12px;
}

.form-gp i {
    position: absolute;
    right: 5px;
    bottom: 15px;
    color: #4908FA;
    font-size: 16px;
}

.rmber-area {
    font-size: 13px;
}

.submit-btn-area {
    text-align: center;
}

.submit-btn-area button {
    width: 100%;
    height: 43px;
    border-radius: 40px;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: 600;
    font-size: 12px;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.07);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.submit-btn-area button i {
    margin-left: 15px;
    -webkit-transition: margin-left 0.3s ease 0s;
    transition: margin-left 0.3s ease 0s;
}

.submit-btn-area button:hover i {
    margin-left: 20px;
}

.login-other a {
    display: block;
    width: 100%;
    max-width: 250px;
    height: 43px;
    line-height: 43px;
    border-radius: 40px;
    text-transform: capitalize;
    letter-spacing: 0;
    font-weight: 600;
    font-size: 12px;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.07);
}

.login-other a i {
    margin-left: 5px;
}

.login-other a.fb-login {
    background: #3b5998;
    color: #fff;
}

.login-other a.fb-login:hover {
    box-shadow: 0 5px 15px rgba(44, 113, 218, 0.38);
}

.login-other a.google-login {
    background: #DD4B39;
    color: #fff;
}

.login-other a.google-login:hover {
    box-shadow: 0 5px 15px rgba(251, 87, 87, 0.38);
}

.form-footer a {
    margin-left: 5px;
}

@media only screen and (max-width: 1100px) {
    .login-form {
        float: left;
        width: 100%;
    }

    .login-form form {
        padding: 50px 30px 20px;
        position: static;
        transform: inherit;
        width: 100%;
    }

    .credentials-form form {
        width: 90%;
        padding: 0;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    .login-bg,
    .register-bg {
        width: 100%;
        height: auto;
    }

    .login-left {
        display: block;
        left: 0;
        position: relative;
        right: 0;
        top: 0;
        transform: inherit;
        z-index: 10;
        padding: 30px;
    }
}

.lock-screen {
    background: url(/images/login-bg.jpg) center/cover no-repeat;
    position: relative;
    z-index: 1;
    height: 100vh;
}

.lock-screen .login-form {
    height: 100%;
    margin: 0 auto;
    display: block;
    float: none;
}

.lock-screen:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: #272727;
    opacity: 0.7;
}

.lock-form-head {
    text-align: center;
    background: #4908FA;
    padding: 40px;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.lock-form-head h4 {
    color: #fff;
}

.analytics_card p {
    font-size: 15px;
    font-weight: 600;
}

.analytics_card .stats_icon {
    background: rgba(255, 255, 255, 0.4);
    padding: 2px 10px;
    border-radius: 50px;
    margin-left: 6px;
}

.analytics_card .icon-rounded {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    text-align: center;
    background: white;
}

.analytics_card .icon-rounded i {
    font-size: 1.625rem;
    line-height: 3.75rem;
}

.btn.btn-inverse-primary {
    background-color: #efe9ff;
    border-color: transparent;
    color: #4908FA;
}

.btn.btn-inverse-danger {
    background-color: #feeef1;
    border-color: transparent;
    color: #F2385A;
}

label.error {
    color: #ff0000;
    font-size: 12px;
}
