body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.flexbox {
    display: flex;
}

.pointer {
    cursor: pointer;
}


/****** Custom Select box ********/

.SSContainerDivWrapper {
    left: 0 !important;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
}

ul.newList {
    border: medium none;
    color: #000;
    height: auto !important;
    list-style: outside none none;
    margin: 0;
    max-height: 210px;
    overflow-y: scroll !important;
    padding: 0;
    text-align: left;
}

ul.newList * {
    background: #f1f1f1 none repeat scroll 0 0;
    border: medium none;
    margin: 0;
    padding: 0;
}

ul.newList li {
    height: auto;
    margin: 0 !important;
    padding: 0 !important;
    text-align: left;
    width: 100%;
}

ul.newList a {
    color: #777777;
    display: block;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    text-decoration: none;
}

ul.newList a:hover {
    background: #fff none repeat scroll 0 0;
    color: #2f2f2f;
}

.newListSelected {
    background: #fff url("../images/down-arrow.png") no-repeat scroll 95% center;
    cursor: pointer;
    float: left;
    font-size: 13px;
    height: 47px;
    margin: 10px 0 20px;
    width: 100%;
}

.selectedTxt {
    color: rgba(30, 30, 40, 0.5);
    height: 47px;
    overflow: hidden;
    padding: 16px 10px;
    width: 100%;
}


/********* Custom select box **************/

.header-sec {
    background: url(../images/header-bg.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 80px;
}

.top-head {
    padding: 25px 0;
}

.top-head .container {
    align-items: center;
}

.top-head.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: #fff;
    z-index: 99;
    padding: 10px 0;
}

.head-location {
    font-size: 16px;
    margin-left: 50px;
    color: #fff;
}

.top-head.fixed .head-location {
    color: rgb(89, 103, 138);
}

.head-links {
    margin-left: auto;
    align-items: center;
    position: relative;
}

.head-links>a {
    color: #fff;
    font-size: 16px;
}

.head-links a.login-btn {
    margin-left: 20px;
    display: inline-block;
    padding: 12px 20px;
    color: rgb(87, 187, 138);
    border-radius: 20px;
    background-color: #fff;
}

.top-head.fixed .head-links>a {
    color: rgb(87, 187, 138)
}

.top-head.fixed .head-links a.login-btn {
    color: #fff;
    background-color: rgb(89, 103, 138);
}

.login-profile {
    margin-left: 20px;
    display: flex;
    align-items: center;
    width: 230px;
    cursor: pointer;
}

.login-profile img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.login-profile h3 {
    color: #fff;
    font-size: 16px;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background: url(../images/down-arrow.png) no-repeat right center;
    padding-right: 18px;
}

.fixed .login-profile h3 {
    color: rgb(114, 114, 114);
}

.top-head.fixed .logo {
    margin: 10px 0;
}

.inner-page-header .top-head .login-profile {
    border-left: 1px solid rgb(228, 228, 228);
    border-right: 1px solid rgb(228, 228, 228);
    padding: 12px 15px;
}

.top-form {
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    max-width: 450px;
    margin-top: 30px;
}

.top-form h3 {
    font-size: 26px;
    margin: 0 0 30px;
    color: rgb(114, 114, 114);
}

.top-form .form-row label {
    font-family: arial;
    font-size: 15px;
    color: rgb(87, 187, 139);
    margin: 0 0 5px;
    display: block;
}

.txt-style {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 10px;
    color: rgb(150, 150, 150);
    font-size: 15px;
    width: 100%;
}

.form-row.flexbox {
    justify-content: space-between;
}

.form-col {
    width: calc(50% - 10px);
}

.form-btn {
    text-align: right;
}

.form-btn .submit-btn {
    background-color: rgb(89, 103, 138);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    padding: 17px 35px;
}

.home-content h3 {
    margin: 60px 0 40px;
    color: rgb(114, 114, 114);
    font-size: 30px;
    text-align: center;
}

.explore-categories ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.explore-categories li {
    width: calc(25% - 22px);
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    overflow: hidden;
}

.explore-categories-img {
    background-color: #000;
}

.explore-categories li img {
    height: 220px;
    width: 100%;
    object-fit: cover;
    opacity: 0.85;
    display: block;
}

.explore-categories li h4 {
    font-size: 18px;
    font-weight: 500;
    color: rgb(114, 114, 114);
    margin: 22px 0;
    padding: 0 20px;
}

.featured-rentals-sec ul {
    display: flex;
    flex-wrap: wrap;
}

.featured-rentals-sec li {
    width: calc(25% - 22px);
    margin-bottom: 50px;
    margin-right: 27px;
}

.featured-rentals-sec li:nth-child(4n+4) {
    margin-right: 0;
}

.verified-btn {
    border: none;
    color: #fff;
    background-color: rgb(0, 183, 75);
    padding: 7px 20px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 12px;
}

.home-bottom {
    margin-top: 100px;
    background-color: rgb(92, 118, 141);
    padding: 70px 0;
}

.home-bottom ul {
    display: flex;
    justify-content: space-between;
}

.home-bottom li {
    width: calc(33.33% - 20px);
    text-align: center;
}

.home-bottom li h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 500px;
    margin: 40px 0 30px;
}

.home-bottom li p {
    color: #fff;
    font-size: 15px;
    line-height: 21px;
}

.footer-sec {
    color: rgb(192, 192, 192);
    margin-top: 80px;
}

.footer-info {
    text-align: center;
}

.footer-info h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    margin: 0 0 25px;
}

.footer-info p {
    font-size: 14px;
    font-weight: 300;
}

.footer-links {
    border-top: 1px solid rgb(38, 37, 37);
    border-bottom: 1px solid rgb(38, 37, 37);
    padding: 35px 0;
    margin-top: 40px;
    text-align: center;
}

.footer-links ul {
    display: flex;
    justify-content: center;
}

.footer-links li {
    font-size: 16px;
}

.footer-links li:after {
    content: "/";
    padding: 0 10px;
    color: rgb(192, 192, 192);
}

.footer-links li:last-child:after {
    content: "";
    padding: 0;
}

.footer-links li a {
    color: rgb(192, 192, 192);
}

.footer-bottom {
    padding: 30px 0 20px;
    border-top: 1px solid rgb(232, 232, 232);
}

.fot-copy {
    font-size: 14px;
    color: rgb(42, 42, 42);
    display: flex;
    align-items: center;
}

.fot-copy ul {
    display: flex;
    margin-left: 10px;
}

.footer-social {
    margin-left: auto;
    display: flex;
}

.footer-social a {
    color: rgb(0, 183, 75);
    font-size: 18px;
    margin-left: 20px;
}

.featured-img {
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.20);
    background-color: #fff;
    margin-bottom: 30px;
}

.featured-img img {
    height: 260px;
    object-fit: cover;
    width: 100%;
}

.featured-content h4 {
    text-transform: uppercase;
    color: rgb(0, 183, 75);
    font-size: 14px;
    font-family: arial;
    margin: 0 0 10px;
}

.star-rating {
    padding-left: 5px;
    font-size: 13px;
    color: rgb(114, 114, 114);
}

.featured-content h3 {
    margin: 20px 0 10px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(114, 114, 114);
    text-align: left;
}

.featured-content p {
    font-size: 15px;
    color: rgb(114, 114, 114);
}

.inner-page-header {
    padding-bottom: 0;
    background: #fff;
}

.inner-page-header .top-head {
    padding: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.inner-page-header .head-location,
.inner-page-header .login-profile h3,
.inner-page-header .head-links>a {
    color: rgb(89, 103, 138);
}

.inner-page-header a.login-btn {
    color: #fff;
    background-color: rgb(89, 103, 138);
    margin: 15px 0 15px 20px;
}

.inner-page-content {
    margin: 30px 0;
}

.search-result-page h3 {
    margin: 10px 0 35px;
    font-size: 21px;
    font-weight: 500;
    color: #000;
    border-top: 1px solid rgba(49, 49, 49, 0.08);
    padding: 20px 0 0;
}

.search-res {
    position: relative;
}

.search-content {
    display: flex;
    flex-wrap: wrap;
}

.search-content.open {
    width: 50%;
    padding-right: 15px;
}

.search-content.open .result-box {
    width: 100%;
    margin-left: 0;
    margin-right: 0 !important;
}

.search-map {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    z-index: 9;
    height: 100%;
    display: none;
}

.search-map iframe {
    width: 100%;
    height: 100%;
}

.result-box {
    width: calc(50% - 15px);
    margin-right: 15px;
    padding: 15px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    display: flex;
}

.result-box:nth-child(2n+2) {
    margin-right: 0;
    margin-left: 15px;
}

.result-img {
    position: relative;
    width: 260px;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
}

.result-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.result-img span {
    position: absolute;
    left: 15px;
    bottom: 10px;
    color: #fff;
    font-size: 13px;
}

.result-img span i {
    font-size: 18px;
    margin-right: 5px;
}

.result-info {
    padding-left: 20px;
}

.result-info h4 {
    color: #000;
    margin: 0 0 10px;
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
}

.result-info .stars {
    margin-bottom: 10px;
}

.property-st-verified {
    display: inline-block;
    color: #fff;
    background: rgb(0, 183, 75);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 8px 15px;
    font-size: 12px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.14);
}

.result-price {
    margin: 20px 0 10px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.result-info p {
    text-align: right;
}

.result-info p a {
    color: rgb(0, 183, 75);
    font-size: 15px;
}

.filter-icon {
    border-right: 1px solid rgba(49, 49, 49, 0.1);
    padding: 10px 10px 10px 0;
    font-size: 14px;
    color: rgb(26, 26, 26);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.filter-icon img {
    margin-right: 8px;
}

.search-txt {
    padding-left: 10px;
    width: 40%;
}

.search-txt input {
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    padding: 10px;
    font-size: 17px;
    color: #000;
    border: none;
    width: 100%;
}

.search-btns {
    margin-left: auto;
    display: flex;
    align-self: center;
    align-items: center;
}

.show-map {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.details-page-nav ul {
    display: flex;
}

.details-page-nav li {
    color: #000;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    padding: 10px 22px 15px;
}

.details-page-nav li.active {
    color: rgb(0, 183, 75);
    border-bottom-color: rgb(0, 183, 75)
}

.details-page-nav li span {
    cursor: pointer;
}

.details-info-sec {
    margin: 40px 0;
}

.details-info-content {
    width: 60%;
    border-right: 1px solid rgb(235, 235, 235);
    padding-right: 60px;
}

.listed-by {
    width: 40%;
    padding: 0 80px;
    text-align: center;
}

.listed-by h4 {
    margin: 0 0 15px;
    font-size: 15px;
    font-weight: 700;
    color: #000;
}

.listed-by>div {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    padding: 35px 25px;
}

.listed-by img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.listed-by h3 {
    margin: 10px 0;
    font-size: 24px;
    font-weight: 500;
    color: #000;
}

.listed-by p {
    margin: 0 0 5px;
    font-size: 13px;
    color: rgb(136, 136, 136);
    font-weight: 700;
}

.details-info-content h1 {
    font-size: 40px;
    font-weight: 500;
    color: #000;
    margin: 0 0 20px;
}

.details-info-content h2 {
    margin: 0 0 20px;
    font-size: 20px;
    font-weight: normal;
    color: #000;
}

.details-info-content h3 {
    font-size: 20px;
    color: #000;
    font-weight: normal;
    margin: 0 0 10px;
}

.details-info-content p,
.details-info-content li,
.details-secs p,
.details-bottom-sec p {
    font-size: 15px;
    font-family: arial;
    color: #000;
    line-height: 21px;
    margin: 0 0 12px;
}

.details-info-content ul {
    margin: 12px 0;
    display: inline-block;
    width: 100%;
}

.details-info-content li {
    padding-left: 25px;
    background: url(../images/builet-point.png) no-repeat left center;
    min-height: 18px;
}

.details-info-content ul.rental-exclude li {
    background-image: url(../images/builet-point2.png);
}

.details-secs h3,
.details-bottom-sec h3 {
    font-size: 28px;
    font-weight: 700;
    color: #000;
    margin: 20px 0 30px;
    display: inline-block;
    width: 100%;
}

.details-bottom-sec h3 {
    margin-bottom: 15px;
}

.details-photo-sec .imageGallery1 {
    display: flex;
    flex-wrap: wrap;
}

.details-photo-sec a {
    width: calc(25% - 15px);
    margin-right: 20px;
    margin-bottom: 20px;
}

.details-photo-sec a:nth-child(4n+4) {
    margin-right: 0;
}

.details-photo-sec a img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.details-location-sec h3 {
    margin-bottom: 15px;
}

.details-bottom-sec {
    display: flex;
    margin-top: 40px;
}

.details-left {
    width: 26%;
}

.details-right {
    padding-left: 40px;
    width: 74%;
}

.details-right li h4 {
    color: #000;
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 10px;
}

.details-right li p {
    margin-bottom: 0;
}

.details-right li {
    padding: 20px 0;
    border-bottom: 1px solid rgb(225, 225, 225);
}

.details-right li:last-child {
    border-bottom: none;
}

.review-top {
    display: flex;
    flex-wrap: wrap;
}

.review-img {
    width: 40px;
}

.review-info {
    width: calc(100% - 40px);
    padding-left: 15px;
}

.review-img img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.review-top p {
    margin: 10px 0;
}

.details-right li .review-info h4 {
    font-size: 18px;
    color: #000;
    font-weight: 600;
    margin-bottom: 5px;
}

.details-right li .review-info h4 span {
    font-weight: normal;
    font-size: 13px;
}

.details-map iframe {
    width: 100%;
    height: 300px;
    margin-top: 20px;
}

.details-availability .details-right ul {
    border: 1px solid rgb(225, 225, 225);
    border-radius: 5px;
    padding: 15px 20px;
}

.details-availability .details-right li {
    padding: 15px 0;
}

.details-availability .details-right li h4 {
    font-size: 18px;
    color: rgb(136, 136, 136);
    margin: 0 0 5px;
}

.details-availability .details-right li p {
    font-size: 16px;
    color: rgb(136, 136, 136);
    margin: 0 0 5px;
}

.details-availability .details-right li:last-child {
    text-align: right;
    font-size: 15px;
    color: rgb(136, 136, 136);
    padding-bottom: 5px;
}

.choose-btn {
    border: 1px solid #000;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 4px;
    margin-left: auto;
    align-self: center;
    cursor: pointer;
}

.details-availability .details-right li h4 span {
    color: rgb(61, 193, 103);
}

.toggle2 {
    display: none !important;
}

.how-map-btn.open .toggle1 {
    display: none !important;
}

.how-map-btn.open .toggle2 {
    display: inline-block!important;
}

.how-map-btn {
    font-size: 28px;
    color: rgb(220, 220, 220);
    margin-left: 10px;
}

.home-afterlogin-content.home-content h3,
.home-afterlogin-content .explore-categories li h4 {
    color: rgb(42, 42, 42);
}

.home-top-search {
    margin-left: 50px;
}

.home-top-search input {
    background: rgb(235, 235, 235) url(../images/search-icon.png) no-repeat 10px center;
    border: none;
    border-radius: 5px;
    padding: 10px 10px 10px 40px;
    color: #000;
    font-size: 15px;
    width: 340px;
}

.dropdown-tooltip {
    position: absolute;
    right: 0;
    width: 230px;
    top: 100%;
    background: #fff;
    padding: 10px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 99;
    display: none;
}

.dropdown-tooltip li a {
    display: inline-block;
    width: 100%;
    color: rgb(134, 134, 134);
    font-size: 15px;
    font-family: arial;
    padding: 15px 0;
    border-bottom: 1px solid rgb(225, 225, 225);
}

.dropdown-tooltip li a .new {
    color: rgb(87, 187, 139);
}

.dropdown-tooltip li:last-child a {
    border-bottom: none;
}

.transparent-box {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 9;
    display: none;
}

.filter-box {
    position: fixed;
    left: -320px;
    top: 72px;
    width: 320px;
    z-index: 9;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.filter-top {
    border-bottom: 1px solid rgb(235, 235, 235);
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

.filter-close {
    border-left: 1px solid rgb(235, 235, 235);
    padding: 20px;
    cursor: pointer;
}

.filter-top h3 {
    align-self: center;
    color: rgb(50, 50, 50);
    font-size: 18px;
}

.filter-top h3 img {
    margin-right: 8px;
}

.filter-reset {
    padding: 10px;
    text-align: right;
    font-size: 13px;
}

.filter-row {
    border-bottom: 1px solid rgb(235, 235, 235);
    padding: 20px;
}

.filter-row p {
    color: rgb(50, 50, 50);
    font-size: 16px;
    margin: 0 0 15px;
}


/************ custom checkbox *******/

.custom-checkbox label {
    cursor: pointer;
    margin-right: 20px;
    color: rgb(26, 26, 26);
    font-size: 14px;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

.custom-checkbox input[type="checkbox"]+span {
    background: url(../images/custom-checkbox.png) no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

.custom-checkbox input[type="checkbox"]:checked+span {
    background-position: 0 -24px;
}


/************ custom checkbox *******/


/************ custom radio *********/

.custom-radio label {
    cursor: pointer;
    margin-right: 20px;
    color: rgb(26, 26, 26);
    font-size: 14px;
}

.custom-radio input[type="radio"] {
    display: none;
}

.custom-radio input[type="radio"]+span {
    width: 24px;
    height: 24px;
    background: url(../images/radio-box.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    margin-right: 8px;
}

.custom-radio input[type="radio"]:checked+span {
    background-position: 0 -24px;
}

.custom-radio2.custom-radio input[type="radio"]+span {
    background: none;
    width: auto;
    height: auto;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 4px;
    padding: 8px 20px;
    font-size: 15px;
    color: rgb(26, 26, 26);
    margin-right: 0;
}

.custom-radio2.custom-radio input[type="radio"]:checked+span {
    color: #fff;
    background: rgb(98, 98, 98);
}


/************ custom radio *********/

.filter-field label {
    margin-bottom: 10px;
    display: inline-block;
}

.filter-content {
    padding-bottom: 70px;
}

.search-result-sort {
    float: right;
    width: 210px;
    border: 1px solid rgb(171, 171, 171);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.search-result-sort label {
    font-size: 14px;
    color: #000;
    padding: 8px;
    line-height: 30px;
}

.search-result-sort .newListSelected {
    float: right;
    width: 140px;
    height: 30px;
    background-color: transparent;
    border-left: 1px solid rgb(171, 171, 171);
    border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    margin: 0;
}

.search-result-sort .selectedTxt {
    padding: 8px 15px;
    font-size: 14px;
    color: rgb(96, 96, 96);
    height: 30px;
}

.search-result-sort ul.newList a {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
}

.search-result-sort ul.newList a:hover {
    background: #000;
}


/********** Profile view page start here **********/

.profile-view-page {
    margin: 50px 0;
}

.profile-view-left {
    width: 40%;
    text-align: center;
}

.profile-view-right {
    width: 60%;
}

.profile-view-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-view-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: rgb(71, 71, 71);
    margin: 0 auto;
    position: relative;
}

.profile-pic-edit {
    position: absolute;
    right: 7px;
    bottom: 20px;
    width: 35px;
    height: 35px;
    background: #000;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.profile-pic-edit label {
    cursor: pointer;
}

.profile-pic-edit input {
    visibility: hidden;
}

.profile-pic-edit i {
    position: absolute;
    color: #fff;
    font-size: 16px;
    left: 9px;
    top: 10px;
    cursor: pointer;
}

.profile-view-leftbox {
    width: 350px;
    margin: 0 auto;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    padding: 50px 20px;
}

.profile-view-leftbox h3 {
    font-size: 20px;
    color: #000;
    margin: 20px 0 8px;
}

.profile-view-leftbox p {
    font-size: 16px;
    color: #000;
    margin: 0;
}

.profile-view-right h1 {
    font-size: 36px;
    font-weight: 500;
    margin: 0 0 10px;
    color: rgb(26, 26, 26);
}

.profile-view-right h1 a {
    color: rgb(114, 114, 114);
    font-size: 15px;
    margin-left: 20px;
    font-weight: normal;
}

.profile-view-right p {
    color: rgb(26, 26, 26);
    font-size: 16px;
    margin: 0 0 10px;
}

.profile-address {
    padding-top: 20px;
}

.profile-address p {
    color: rgb(0, 183, 75);
    line-height: 24px;
    margin-bottom: 30px;
}

.profile-view-right h3 {
    margin: 0 0 10px;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    color: rgb(26, 26, 26);
}

.profile-review li {
    padding: 20px 0;
    border-bottom: 1px solid rgb(225, 225, 225);
}

.profile-review li:last-child {
    border-bottom: none;
}

.profile-review p {
    font-size: 15px;
    line-height: 21px;
    padding: 10px 0;
}

.profile-review li .review-info h4 {
    font-size: 18px;
    color: #000;
    font-weight: 600;
    margin-bottom: 5px;
}

.profile-review li .review-info h4 span {
    font-weight: normal;
    font-size: 13px;
}


/********** Profile view page end here **********/

.profile-edit h3 {
    margin-bottom: 25px;
}

.profile-col {
    width: calc(50% - 15px);
}

.profile-row {
    justify-content: space-between;
}

.profile-col>label,
.profile-row>label {
    color: rgb(26, 26, 26);
    font-size: 15px;
    margin: 0 0 10px;
    display: inline-block;
    width: 100%;
}

.profile-edit .txt-style {
    width: 100%;
    border-radius: 0;
    border: 1px solid rgb(235, 235, 235);
    padding: 10px;
    height: 48px;
}

.profile-edit .submit-btn {
    width: 100%;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    padding: 15px 10px;
    background-color: rgb(0, 183, 75);
}

.profile-row.custom-radio>label {
    width: auto;
    margin-bottom: 20px;
    margin-right: 15px;
}

.marginTop50 {
    margin-top: 50px !important;
}

.profile-edit .newListSelected {
    border: 1px solid rgb(235, 235, 235);
    height: 48px;
    font-size: 15px;
    margin-top: 0;
}

.col-25 {
    width: calc(25% - 10px);
}

.col-50 {
    width: calc(50% - 10px);
}

.account-seetings-page {
    padding: 50px 0 30px 100px;
    max-width: 700px;
}

.account-seetings-page h1 {
    color: rgb(26, 26, 26);
    font-size: 36px;
    font-weight: 500;
    margin: 0 0 50px;
}

.account-row h3 {
    color: rgb(26, 26, 26);
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 30px;
    text-align: left
}

.account-row li {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    color: rgb(26, 26, 26);
    margin-bottom: 25px;
}

.account-row {
    border-bottom: 1px solid rgb(225, 225, 225);
    padding-bottom: 25px;
    margin-bottom: 50px;
}

.account-row:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.account-row li span {
    font-size: 14px;
    padding-top: 10px;
    display: inline-block;
}


/************ Add Rental Page ************/

.add-rental-row {
    margin-top: 60px;
    display: none;
    width: 50%;
    padding-left: 100px;
    margin-bottom: 20px;
}

.add-rental-row:nth-child(1) {
    display: inline-block;
}

.add-rental-page h3 {
    text-align: left;
    color: rgb(26, 26, 26);
    font-size: 36px;
    font-weight: 500;
    margin: 0 0 40px;
}

.rental-row>label {
    font-size: 15px;
    color: rgb(26, 26, 26);
    margin: 0 0 15px;
    display: inline-block;
}

.rental-row {
    margin-bottom: 15px;
}

.add-rental-row>p {
    font-size: 14px;
    color: rgb(26, 26, 26);
    line-height: 19px;
    margin-bottom: 15px;
}

.add-rental-row>h4 {
    font-size: 17px;
    font-weight: bold;
    color: rgb(26, 26, 26);
    line-height: 22px;
    margin-bottom: 20px;
}

.add-rental-btn {
    display: flex;
    margin: 60px 0 0;
    justify-content: space-between;
}

.rental-continueBtn {
    margin-left: auto;
}

.rental-continueBtn input {
    border: none;
    background: rgb(0, 183, 75);
    color: #fff;
    font-size: 16px;
    color: #fff;
    padding: 15px 80px;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.rental-row textarea.txt-style {
    height: 150px;
}

.add-rental-row .profile-row {
    margin-bottom: 15px;
}

.rental-backBtn {
    align-self: center;
    font-size: 16px;
    font-weight: 500;
    color: rgb(26, 26, 26);
    background: url(../images/arrow.png) no-repeat left center;
    padding-left: 28px;
    cursor: pointer;
}

.add-rental-calender>p {
    text-align: right;
    font-size: 14px;
    margin-bottom: 15px;
}

.add-rental-calender-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.add-rental-calender-items .txt-style {
    width: 250px;
    margin-bottom: 0;
}

.rental-50 {
    width: 50%;
}

.add-rental-page {
    padding-bottom: 50px;
}


/************* My Rental Page *************/

.my-rental-row {
    display: none;
}

.my-rental-row:nth-child(1) {
    display: inline-block;
    width: 100%;
}

.my-rental-page {
    padding: 70px 100px;
}

.my-rental-head {
    justify-content: space-between;
}

.my-rental-left {
    width: 50%;
}

.my-rental-btn {
    width: 45%;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    flex-wrap: wrap;
}

.my-rental-btn a {
    color: rgb(248, 69, 69);
    margin-top: 30px;
}

.my-rental-btn input {
    border: none;
    border-radius: 5px;
    background-color: rgb(214, 214, 214);
    font-size: 17px;
    padding: 12px 25px;
    margin-left: 10px;
    color: #fff;
}

.my-rental-btn input.active {
    background-color: rgb(87, 187, 139);
}

.my-rental-left h1 {
    font-size: 36px;
    font-weight: 500;
    color: rgb(26, 26, 26);
    margin: 0 0 15px;
}

.my-rental-left p {
    font-size: 14px;
    color: rgb(26, 26, 26);
    margin: 0;
    line-height: 19px;
}

.my-rental-content {
    margin: 20px 0 0;
}

.my-rental-row>ul,
ul.booking-table {
    border-top: 1px solid rgb(235, 235, 235);
}

.my-rental-row>ul>li>ul,
ul.booking-table>li>ul {
    display: flex;
}

.my-rental-row>ul>li,
ul.booking-table>li {
    border-bottom: 1px solid rgb(235, 235, 235);
    border-right: 1px solid rgb(235, 235, 235);
}

.my-rental-row>ul>li>ul li,
ul.booking-table>li>ul li {
    border-left: 1px solid rgb(235, 235, 235);
    color: rgb(26, 26, 26);
    font-size: 15px;
    padding: 20px;
    width: 20%;
}

ul.booking-table>li>ul li {
    width: 35%;
}

ul.booking-table>li>ul li:last-child {
    width: 65%;
}

.my-rental-row>ul>li>ul li:nth-child(2) {
    width: 40%;
}

.my-rental-row>ul>li>ul li a {
    display: block;
    font-size: 13px;
    margin-bottom: 8px;
}

.booking-page {
    padding: 70px 100px;
}

.booking-left {
    width: 60%;
    padding-right: 50px;
}

.booking-right {
    width: 40%;
    background-color: rgb(35, 41, 72);
    border-radius: 5px;
    align-self: flex-start;
    padding: 30px;
}

.booking-right p {
    font-size: 13px;
    text-align: center;
    color: #fff;
    line-height: 18px;
}

.booking-duration {
    width: 100%;
    background-color: rgb(227, 227, 227);
    height: 38px;
    border-radius: 4px;
    border: none;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}

.booking-left h1 {
    font-size: 36px;
    font-weight: 500;
    color: rgb(26, 26, 26);
    margin: 0 0 15px;
}

.booking-left>p {
    font-size: 14px;
    color: rgb(26, 26, 26);
    margin: 0 0 8px;
}

.booking-left h3 {
    font-size: 24px;
    font-weight: 500;
    color: rgb(26, 26, 26);
    margin: 40px 0 25px;
    text-align: left;
}

.booking-left h4 {
    font-size: 16px;
    font-weight: bold;
    color: rgb(26, 26, 26);
    margin: 0px 0 15px;
    text-align: left;
}

.booking-right h3 {
    margin: 0 0 30px;
    text-align: left;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.booking-right li {
    font-size: 15px;
    color: #fff;
    margin: 0 0 20px;
    display: flex;
    justify-content: space-between;
}

.booking-right li div {
    color: rgb(255, 204, 1)
}

.booking-right li div span {
    margin-left: 15px;
    color: #fff;
}

.booking-right li.total {
    border-top: 1px solid rgb(225, 225, 225);
    padding-top: 15px;
    font-size: 20px;
}

.checkout-btn {
    border: none;
    border-radius: 5px;
    color: #fff;
    background: rgb(0, 183, 75);
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    margin: 15px 0;
}

.details-bottom-stripe {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(87, 187, 138);
    padding: 15px 0;
    color: #fff;
}

.details-bottom-stripe .container {
    justify-content: space-between;
    align-items: center
}

.details-bottom-stripe .review-info {
    align-self: center;
}

.details-bottom-stripe .review-info h4 {
    margin-bottom: 4px;
}

.details-bottom-stripe-right {
    display: flex;
    align-items: center;
}

.details-bottom-stripe-right h3 {
    font-size: 20px;
}

.details-bottom-stripe-right a {
    background: #fff;
    display: inline-block;
    padding: 12px 35px;
    color: rgb(87, 187, 138);
    font-size: 16px;
    border: none;
    border-radius: 20px;
    margin-left: 25px;
}

.write-review-page {
    padding: 70px 100px;
}

.write-review-page h1 {
    font-size: 36px;
    font-weight: 500;
    color: rgb(26, 26, 26);
    margin: 0 0 15px;
    text-align: center;
}

.write-review-page p {
    text-align: center;
    font-size: 17px;
    color: #000;
    margin: 0 0 40px;
}

.write-reviwe-form {
    max-width: 600px;
    background-color: rgb(246, 246, 246);
    border-radius: 5px;
    padding: 30px 30px 50px;
    margin: 0 auto;
}

.write-reviwe-form .form-row {
    margin-bottom: 25px;
}

.review-txt-row,
.write-txt-style {
    width: 100%;
    height: 48px;
    background-color: rgb(236, 236, 236);
    border-radius: 4px;
    border: none;
}

.submit-review {
    border: none;
    width: 100%;
    height: 44px;
    color: #fff;
    background-color: rgb(87, 187, 138);
    font-size: 17px;
    font-weight: bold;
    border-radius: 4px;
}

.rating-row {
    display: flex;
}

.write-reviwe-form .form-row.rating-row label {
    margin-bottom: 0;
    align-self: center;
    margin-right: 15px;
    width: auto;
}

.write-reviwe-form .form-row label {
    font-size: 16px;
    color: #000;
    margin: 0 0 8px;
    display: inline-block;
    width: 100%;
}

.review-btn a {
    color: #fff;
    font-size: 15px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 20px;
    background: rgb(87, 187, 138);
    margin-top: 15px;
}

.acc-pwd-field {
    display: none;
    width: 100%;
    margin-top: 10px;
}

.acc-pwd-field input {
    max-width: 240px;
}

.acc-update-btn input {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 15px;
}


/****************** Popup ************/

.location-box,
.calender-popup,
.payment-popup {
    width: 100%;
    left: 0;
    position: absolute;
    top: -100px;
    height: 100%;
    text-align: center;
    z-index: 9999;
    display: none;
}

.popup-content {
    max-width: 400px;
    width: 90%;
    background: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin: 80px auto 20px;
    padding: 40px 50px;
    position: relative;
}

.popup-close {
    position: absolute;
    right: 13px;
    top: 26px;
    width: 22px;
    cursor: pointer;
}

.popup-close span {
    width: 100%;
    background: rgb(25, 25, 25);
    height: 2px;
    float: left;
}

.popup-close span:nth-child(1) {
    transform: rotate(42deg);
    -moz-transform: rotate(42deg);
    -webkit-transform: rotate(42deg);
    position: relative;
    top: 1px;
}

.popup-close span:nth-child(2) {
    transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -webkit-transform: rotate(130deg);
}

.popup-content h3 {
    font-size: 20px;
    color: rgb(26, 26, 26);
    text-transform: uppercase;
    margin: 0 0 10px;
}

.signin-form {
    width: 100%;
    display: inline-block;
    margin: 30px 0 0;
}

.popup-content p {
    font-size: 12px;
    color: rgb(26, 26, 26);
}

.txt-style2 {
    width: 100%;
    height: 50px;
    border: 1px solid rgb(235, 235, 235);
    font-size: 16px;
    padding: 15px;
    color: rgb(153, 153, 153);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.submit-style {
    border: 0;
    font-size: 16px;
    color: #fff;
    background: rgb(0, 183, 75);
    text-align: center;
    text-transform: uppercase;
    padding: 14px 0;
    width: 100%;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin: 20px 0 0;
}

.dark-bg {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
}


/****************** Popup ************/

.slbCloseBtn {
    font-size: 21px !important;
}

.payment-page {
    margin: 50px 0;
    display: flex;
}

.payment-left {
    width: 27.5%;
    padding-right: 40px;
}

.payment-right {
    width: 72.5%;
}

.balance-box {
    background: rgb(247, 69, 69);
    color: #fff;
    border-radius: 5px;
    padding: 22px 20px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.balance-box span {
    font-size: 24px;
    font-weight: normal;
}

.payment-left ul li {
    font-size: 17px;
    border-bottom: 1px solid rgb(225, 225, 225);
    padding: 15px 0;
}

.payment-left ul li:last-child {
    border-bottom: none;
}

.payment-left li a {
    color: #000;
    display: inline-block;
    width: 100%;
}

.payment-left li a:hover,
.payment-left li a.active {
    color: rgb(248, 69, 69);
    background: url(../images/arrow2.png) no-repeat right center;
}

.payment-right h1 {
    color: rgb(26, 26, 26);
    font-size: 36px;
    margin: 0 0 30px;
}

.bank-details {
    display: flex;
    border: 1px solid rgb(225, 225, 225);
    padding: 30px;
    border-radius: 5px;
    align-items: center;
}

.bank-details-left {
    width: 50%;
    flex-shrink: 0;
    padding-right: 40px;
}

.bank-details p {
    border-left: 1px solid rgb(225, 225, 225);
    padding: 30px 0 30px 30px;
    font-size: 17px;
    color: rgb(26, 26, 26);
    margin: 0;
    line-height: 20px;
}

.bank-details-left label {
    margin-bottom: 8px;
    font-size: 16px;
    color: rgb(26, 26, 26);
    display: inline-block;
    width: 100%;
}

.btn-submit {
    background: rgb(0, 165, 80);
    border-radius: 20px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 30px;
    border: none;
}

.withdraw-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.withdraw-row label {
    width: 130px;
    font-size: 15px;
}

.withdraw-row span {
    width: 60px;
    font-size: 13px;
    text-align: right;
}

.withdraw-row .txt-style {
    width: calc(100% - 190px);
    margin: 0;
}

.payment-popup .popup-content {
    max-width: 600px;
}

.payment-details-box {
    display: flex;
    justify-content: space-between;
}

.payment-details-box ul {
    border: 1px solid rgb(235, 235, 235);
}

.payment-details-box ul li {
    border-bottom: 1px solid rgb(235, 235, 235);
    display: flex;
    font-size: 14px;
    align-items: center;
    text-align: left;
}

.payment-details-box ul li:last-child {
    border-bottom: none;
}

.payment-details-box ul li span {
    border-right: 1px solid rgb(235, 235, 235);
    font-weight: bold;
    padding: 20px 10px;
    width: 128px;
    flex-shrink: 0;
    margin-right: 10px;
}

.payment-details-box ul:nth-child(2) {
    width: 40%;
}

.payment-details-box ul:nth-child(1) {
    width: 56%;
}

.payment-popup .popup-close {
    position: static;
    width: auto;
    border: none;
    border-radius: 30px;
    color: #fff;
    background: rgb(10, 147, 60);
    font-size: 16px;
    font-weight: bold;
    padding: 18px 70px;
    margin-top: 30px;
}

.pac-container.pac-logo {
    z-index: 999999;
}